.hangman-game .word {
  letter-spacing: 1rem;
  font-size: 2rem;
}

.hangman-game .keyboard {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin-inline: auto;
}

.hangman-game .keyboard button {
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.hangman-game .hangman {
  margin: 20px 0;
  font-size: 1.5rem;
}

.hangman-game .result {
  font-size: 1.8rem;
  margin-top: 1rem;
  color: green;
}

.hangman-game .lost {
  color: red;
}
